.table {
  width: 100%;
}

.tableRow {
  display: flex;
  justify-content: space-between;
}

.nonHeader {
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.estimateImage {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  width: auto;
}

.estimateRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .table {
    margin: 0 auto;
    max-width: 95%;
  }
}
