.SelectionComponentContainer {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-right: 10px;
}

.SelectionComponentMultipleContainers {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.SelectionComponentMultipleContainersNotDisplayed {
  display: none;
}

.SelectionButtonContainer {
  border-radius: 5%;
  width: 100%;
}

img {width:60px;height:50px}